/*
This file is used to style the frontend interface of the My Custom Twitter Feed plugin.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Oct, 2019, 12:38:34 PM
    Author     : Ray Creations
*/

/* Notification style */
.rc_myctf_tweets_wrap_error {
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 2px 2px 0 rgba(0,0,0,.1)
}

/* Twitter Feed Style */
.rc_myctf_tweets_wrap {}

.rc_myctf_tweets_wrap ol {
    padding-left: 0;
    list-style: none;
}

/* Twitter Feed - List Style */
.rc_myctf_tweets_wrap.display_list .tweet_item {
    position: relative;
}

.rc_myctf_tweets_wrap.display_list .tweet_item,
.rc_myctf_tweets_wrap.display_slider_1_col .tweet_item,
.rc_myctf_tweets_wrap.display_masonry .tweet_item {
    padding: 30px 30px 30px 48px;
    margin-bottom: 50px;
    border: 1px solid rgba(0,0,0,.08);
    /* border-right: 3px solid rgba(0,0,0,.08);
    border-bottom: 3px solid rgba(0,0,0,.08); */
    border-radius: 15px;
    text-indent: 0;
}

.rc_myctf_tweets_wrap.display_slider_1_col .tweet_item {
    padding: 30px;
}

.rc_myctf_tweets_wrap.display_list .twitter_profile_img {
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 30px;
}

.rc_myctf_tweets_wrap.display_masonry .twitter_profile_img,
.rc_myctf_tweets_wrap.display_slider_1_col .twitter_profile_img {
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
}

.rc_myctf_tweets_wrap .twitter_header_meta {
    font-size: 95%;
    color: #000;
    margin-bottom: 12px;
    word-break: break-word;
}

.rc_myctf_tweets_wrap .tweet {
    word-break: break-word;
}

.rc_myctf_tweets_wrap .name-of-tweeter {
    color: #000;
    font-weight: 700;
}

.rc_myctf_tweets_wrap .screen_name a,
.rc_myctf_tweets_wrap .tweet-date a {
    color: #999;
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
}

.link_details_wrap {
    margin: 20px 0;
    position: relative;
    display: inline-block;
    clear: both;
}

.link_details_wrap img {
    border-radius: 15px;
}

.link_details_wrap .play-pause-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    height: 50px;
}

.link_details_wrap .tweet-video {
    border-radius: 15px;
    max-width: 100%;
}

.rc_myctf_tweets_wrap.display_list .ext_link_title_desc {
    position: absolute;
    width: 100%;
    bottom: 7px;
    padding: 40px 20px 20px 20px;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
    border-radius: 0 0 15px 15px;
    display: none;
    transition: all 0.5s ease;
}

.rc_myctf_tweets_wrap.display_list li:hover .ext_link_title_desc {
    display: block;
}

.rc_myctf_tweets_wrap.display_list .ext_link_title {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.rc_myctf_tweets_wrap.display_list .ext_link_desc {
    font-size: 80%;
}

/* Tweets Slider */
.rc_myctf_tweets_wrap.display_slider_2_col {
    position: relative;
    border-top: 0;
    border-bottom: 0;
    text-indent: 0;
}

.rc_myctf_tweets_wrap.display_slider_2_col .tweet_wrapper {
    width: 72%;
    display: inline-block;
    vertical-align: middle;
}

.rc_myctf_tweets_wrap.display_slider_2_col .tweet-media {
    width: 21%;
    margin-right: 7%;
    display: inline-block;
    vertical-align: middle;
}

.rc_myctf_tweets_wrap.display_slider_2_col .twitter_profile_img,
.rc_myctf_tweets_wrap.display_slider_2_col .name-of-tweeter,
.rc_myctf_tweets_wrap.display_slider_2_col .tweet-date,
.rc_myctf_tweets_wrap.display_slider_1_col .ext_link_title_desc,
.rc_myctf_tweets_wrap.display_slider_2_col .ext_link_title_desc {
    display: none;
}

.rc_myctf_tweets_wrap.display_slider_2_col .link_details_wrap {
    margin: 0;
}

.rc_myctf_tweets_wrap.display_slider_2_col .rc_myctf_dot_spacer {
    display: none;
}

/* Twitter Masonry */
.rc_myctf_tweets_wrap.display_masonry .tweet_item,
.rc_myctf_tweets_wrap.display_masonry .tweet_sizer {
    width: 100%;
    margin: 0;
    padding: 40px 20px 20px;
    margin-bottom: 35px;
    text-align: left;
}

.rc_myctf_tweets_wrap.display_masonry .tweet {
    word-break: break-word;
}

.rc_myctf_tweets_wrap.display_masonry .ext_link_title_desc {
    display: none;
}

.verified_badge {
    margin-left: 2px;
    color: rgba(29,161,242,1.00);
    vertical-align: text-bottom;
    position: relative;
    max-width: 100%;
    height: 1.25em;
    fill: currentcolor;
    display: inline-block;
    font: 15px system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

svg:not(:root) {
    overflow: hidden;
}

/* CSS for the slider goes below  */
.rc_myctf_tweets_wrap.slider {
    margin: auto;
    position: relative;
    font-size: 15px;
    width: 100%;
    backface-visibility: hidden;
}

.rc_myctf_tweets_wrap.slider.display_slider_2_col {
    margin-bottom: 70px;
    padding: 40px 0;
}

.rc_myctf_tweets_wrap.slider .slides-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.rc_myctf_tweets_wrap.slider.display_slider_2_col .slides-container {
    width: 60%;
}

.rc_myctf_tweets_wrap.slider .slide {
    height: auto;
    /* position: absolute; */
    left: 0;
    top: 0;
    display: none;
}

.rc_myctf_tweets_wrap.slider .slide:after {
    content: '';
    display: table;
}

.rc_myctf_tweets_wrap.slider .slide:first-child {
    display: block;
}

.rc_myctf_tweets_wrap.slider .slide .text {
    width: 100%;
    height: 100%;
    background: #8fc6eb;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.rc_myctf_tweets_wrap.slider .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rc_myctf_tweets_wrap.slider .pager-wrap {
    text-align: center;
    clear: both;
}

.rc_myctf_tweets_wrap.display_slider_2_col .pager-wrap {
    top: 30px;
    height: 0;
    position: relative;
}

.rc_myctf_tweets_wrap.slider .pager {
    font-size: 10px;
    font-weight: 900;
    color: #777;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    background-color: #f1f1f1;
    padding: 0 20px;
    border-radius: 15px;
    line-height: 28px;
}

.rc_myctf_tweets_wrap.slider .arrows a {
   position: absolute;
   text-decoration: none;
   top: 43%;
   left: -20px;
   font-weight: 400;
   line-height: 1;
   display: block;
   width: 37px;
   height: 37px;
   overflow: hidden;
   background: #fff;
   border-radius: 50%;
   border-right: 2px solid #ccc;
   border-bottom: 2px solid #ccc;
   padding: 10px;
   box-shadow: none;
   text-align: center;
   transition: all .4s ease-in;
}

.rc_myctf_tweets_wrap.slider .arrows a.next {
   left: initial;
   right: -20px;
}

.rc_myctf_tweets_wrap.slider.display_slider_2_col .arrows a {
    left: 0;
}

.rc_myctf_tweets_wrap.slider.display_slider_2_col .arrows a.next {
    left: initial;
    right: 0;
}

.rc_myctf_tweets_wrap.slider.display_slider_1_col .arrows a {
    opacity: 0;
}

.rc_myctf_tweets_wrap.slider.display_slider_1_col:hover .arrows a {
    opacity: 1;
}

.rc_myctf_tweets_wrap.slider .arrows a:hover {
   color: #fff;
   box-shadow: none;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
}
 
.rc_myctf_tweets_wrap.slider .arrows a img {
    width: 11px;
}


/* For Mobile */
@media screen and (min-width: 800px) {
    
    /* Masonry Style */
    .rc_myctf_tweets_wrap.display_masonry .tweet_item,
    .rc_myctf_tweets_wrap.display_masonry .tweet_sizer,
    .rc_myctf_tweets_wrap.display_masonry.cols_4 .tweet_item,
    .rc_myctf_tweets_wrap.display_masonry.cols_5 .tweet_item {
        width: 46.5%;
    }
    
}

@media screen and (min-width: 1023px) {
    .rc_myctf_tweets_wrap.display_masonry .tweet_item,
    .rc_myctf_tweets_wrap.display_masonry .tweet_sizer {
        width: 28%;
    }
    
    .rc_myctf_tweets_wrap.display_masonry.cols_2 .tweet_item {
        width: 47%;
    }

    .rc_myctf_tweets_wrap.display_masonry.cols_4 .tweet_item {
        width: 21.5%;
    }

    .rc_myctf_tweets_wrap.display_masonry.cols_5 .tweet_item {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .rc_myctf_tweets_wrap.slider .slides-container {
        position: relative;
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    
    .rc_myctf_tweets_wrap.display_masonry .tweet_item,
    .rc_myctf_tweets_wrap.display_masonry .tweet_sizer {
        width: 30%;
    }
    
    .rc_myctf_tweets_wrap.display_masonry.cols_4 .tweet_item {
        width: 22.5%;
    }

    .rc_myctf_tweets_wrap.display_masonry.cols_5 .tweet_item {
        width: 17.5%;
    }
    
}

@media screen and (max-width: 800px) {
    
    /* Slider 2 Column */
    .rc_myctf_tweets_wrap.slider .slides-container,
    .rc_myctf_tweets_wrap.slider.display_slider_2_col .slides-container {
        width: 100%;
    }
    .rc_myctf_tweets_wrap.slider.display_slider_2_col .arrows a.prev {
        left: -20px;
    }
    
    .rc_myctf_tweets_wrap.slider.display_slider_2_col .arrows a.next {
        right: -20px;
    }
    
    .rc_myctf_tweets_wrap.display_slider_2_col .slide {
        padding: 20px;
        border: 1px solid rgba(0,0,0,.1);
        /* border-right: 3px solid rgba(0,0,0,.1);
        border-bottom: 3px solid rgba(0,0,0,.1); */
        border-radius: 15px;
    }
    
    .rc_myctf_tweets_wrap.display_slider_2_col .tweet_wrapper {
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .rc_myctf_tweets_wrap.display_slider_2_col .tweet-media {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    
    .rc_myctf_tweets_wrap.display_slider_2_col .link_details_wrap {
        margin-bottom: 20px;
    }
    
    /* Masonry Style */
    /* .rc_myctf_tweets_wrap.display_masonry ol li,
    .rc_myctf_tweets_wrap.display_masonry.cols_2 ol li,
    .rc_myctf_tweets_wrap.display_masonry.cols_4 ol li,
    .rc_myctf_tweets_wrap.display_masonry.cols_5 ol li {
        width: 100%;
    } */
    
}