/*
Used to style the admin interface of the My Custom Twitter Feed plugin.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Oct, 2019, 12:36:27 PM
    Author     : Ray Creations
*/

.rsfft_tip {
    color: #999;
    margin-left: 10px;
    font-style: italic;
}

/*Fetch Token*/
#rsfft_fetch_token {
    background-color: rgb(29, 161, 242);
    padding: 12px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}


#rsfft_fetch_token:hover {
    background-color: #fff;
    color: rgb(29, 161, 242);
}


/* For Shortcode Table */
.rsfft-scode-table {
    margin: 2rem 0;
}


.rsfft-scode-table th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.rsfft-scode-table th:nth-child(1) {
    width: 15%;
}

.rsfft-scode-table th:nth-child(2) {
    width: 45%;
}

.rsfft-scode-table th:nth-child(3) {
    width: 40%;
}

.rsfft-scode-table .rsfft-theading {
    background-color: #f5f3f3;
}